
<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                       {{this.name}}
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Editorial Policy</h3>
                </div>
                <p>The subsequent policies outline the instructions within our journal's publication
                    procedure. The Journal embraces and endeavors to conform to the subsequent principles
                    and prerequisites as provided by:
                </p>

                <ul class="pub-list">
                    <li><strong>COPE – Committee on Publication Ethics</strong></li>
                    <li><strong>ICMJE – International Committee of Medical Journal Editors</strong></li>
                    <li><strong>OASPA - Open Access Scholarly Publishers Association</strong></li>
                </ul>
                <p>Editorial policies for journals outline the guiding principles and standards that the
                    editorial team follows in managing the publication process and maintaining the quality
                    and integrity of the journal's content. These policies help ensure consistency,
                    transparency, and ethical conduct throughout the editorial process. While specific
                    editorial policies can vary between journals, here are some common elements you might
                    find in an editorial policy:</p>
            </div>
            <div class="col-md-12 main-content">

                <p><strong>Scope and Focus:</strong> Clearly define the journal's scope, objectives, and the
                    types of content it considers for publication. Specify the subject areas covered and the
                    types of manuscripts the journal welcomes.</p>

                <p><strong>Editorial Independence:</strong> Emphasize the editorial team's autonomy and
                    independence in making decisions regarding manuscript acceptance, rejection, and peer
                    review. Highlight that editorial decisions are based on the quality and relevance of the
                    research rather than external influences.</p>

                <p><strong>Peer Review Process:</strong> Describe the journal's peer review process,
                    including the steps involved, the criteria for selecting reviewers, and the evaluation
                    criteria for manuscripts. Clarify whether the journal uses single-blind, double-blind,
                    open, or post publication peer review.</p>


                <p><strong>Ethical Guidelines</strong>: State the journal's commitment to ethical publishing
                    practices. Address issues such as plagiarism, data fabrication, conflict of interest,
                    and the responsible conduct of research. Explain how ethical violations will be handled.
                </p>
                <p><strong>Author Guidelines:</strong> Provide detailed instructions for authors on how to
                    prepare and submit manuscripts. Specify formatting requirements, citaion style, word
                    limits, and any additional materials that should be included with submissions.</p>


                <p><strong>Conflict of Interest:</strong> Outline how potential conflicts of interest for
                    authors, reviewers, and editors will be identified and managed. Describe the steps that
                    should be taken to disclose and handle conflicts.</p>
                <p><strong>Open Access and Copyright:</strong> Explain the journal's policies regarding open
                    access publishing, including any associated fees. Detail the copyright and licensing
                    terms that authors will need to adhere to upon acceptance.</p>


                <p><strong>Data Sharing and Transparency:</strong> Encourage authors to share research data
                    and provide transparency in reporting methodologies and results. Specify any
                    requirements for data availability and sharing.</p>
                <p><strong>Publication Ethics and Integrity:</strong> Highlight the journal's commitment to
                    maintaining the
                    integrity of the scholarly record and adhering to established publication ethics
                    guidelines, such as those outlined by COPE (Committee on Publication Ethics).</p>


                <p><strong>Retractions and Corrections:</strong> Outline procedures for handling
                    retractions, corrections, and expressions of concern in case of errors or misconduct.
                </p>
                <p><strong>Editorial Board and Reviewers:</strong> Provide information about the composition
                    and roles of the editorial board and reviewers. Highlight their expertise and commitment
                    to maintaining high editorial standards.</p>
                <p><strong>Appeals and Complaints</strong>: Explain the process for authors to appeal
                    editorial decisions or lodge complaints about the review process.</p>
                <p><strong>Publication Schedule:</strong> Detail the journal's publication schedule,
                    including expected timelines for review, acceptance, and publication.</p>
                <p><strong>Editorial Transparency:</strong> Commit to transparency in editorial decisions by
                    providing authors with clear explanations for rejection and constructive feedback for
                    improvement.</p>
                <p><strong>Post-Publication Policies:</strong> Address the journal's stance on
                    post-publication discussions, corrections, and updates to published articles.</p>
            </div>
        </div>

        <p>Editorial policies for journals outline the guiding principles and standards that the editorial
            team follows in managing the publication process and maintaining the quality and integrity of
            the journal's content. These policies help ensure consistency, transparency, and ethical conduct
            throughout the editorial process. While specific editorial policies can vary between journals,
            here are some common elements you might find in an editorial policy:</p>
    </div>
</section>

<!-- <app-journalfooter></app-journalfooter> -->