<!-- <app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<app-journal-inner-menu></app-journal-inner-menu> -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                     {{this.name}}
                        <!-- International Journal of Recent Advances in Healthcare and Pharmaceutical Technology -->
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Manuscript Preparation</h3>
                </div>
                <p>There are various types of articles and manuscripts that researchers and writers prepare for
                    publication in academic journals, magazines, websites, and other platforms. The specific
                    format and content of each type may vary, but generally, they can be categorized as follows:
                </p>
            </div>
            <div class="col-md-12 main-content">
                <h4 class="mt-0">Research Articles:</h4>
                <p><strong>Original Research Articles:</strong> Present new and original research findings,
                    including
                    methodologies, results, and discussions. They typically follow a structured format:
                    Introduction, Methods, Results, Discussion, and Conclusion.</p>

                <p><strong>Review Articles:</strong> Summarize and critically analyze existing research on a
                    particular topic. They rovide a comprehensive overview of the current state of knowledge and
                    often suggest areas for future research.</p>
                <p><strong>Meta-analysis Articles:</strong> Combine and analyze data from multiple studies to
                    draw broader conclusions or establish statistical relationships.</p>

                <h4>Perspective or Opinion Articles:</h4>
                <p><strong>Opinion Pieces:</strong> Express the author's viewpoint or argument on a particular
                    topic. These articles may not require extensive empirical research but rely on logical
                    reasoning and persuasive writing.</p>
                <p><strong>Editorials:</strong> Written by the editorial team of a publication, these express
                    the publication's stance on a current issue or event.</p>

                <h4>Case Studies and Case Reports:</h4>
                <p><strong>Case Studies:</strong> Present a detailed analysis of a specific case ,often with the
                    intent to highlight unique aspects, challenges, or solutions.</p>
                <p><strong>Case Reports:</strong> Provide a brief description of a unique or rare case, often in
                    medical or clinical contexts.</p>

                <h4>Short Communications or Brief Reports:</h4>
                <p><strong>Short Communications:</strong> Present concise research findings that do not warrant
                    a full-length article. They focus on a specific aspect of a broader study.</p>
                <p><strong>Brief Reports:</strong> Similar to short communications ,these provide succinct
                    findings and may have a more streamlined format.</p>

                <h4>Letters to the Editor:</h4>
                <p><strong>Letters:</strong> Address specific issues, respond to previously published material,
                    or offer new insights. They are generally shorter and less formal than research articles.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="sub-heading">
                    <h3>Preparation Steps:</h3>
                </div>
                <p>Preparing a manuscript for publication typically involves the following steps:
                </p>
            </div>
            <div class="col-md-12 main-content">
                <h4 class="mt-0">Letters to the Editor:</h4>
                <ol>
                    <li>APA in-text citation style uses the author's last name and the year of publication, for
                        example: (Field, 2005). For direct quotations, include the page number as well, for
                        example: (Field, 2005, p. 14). For sources such as websites and e-books that have no
                        page numbers, use a paragraph number, for example: (Field, 2005, para. 1).</li>
                    <li>
                        References of Journal article:
                        <ul>
                            <li>Grady, J. S., Her, M., Moreno, G., Perez, C., & Yelinek, J. (2019). Emotions
                            </li>
                        </ul>
                    </li>
                    <li>
                        References of Journal article with an article number:
                        <ul>
                            <li>Jerrentrup, A., Mueller, T., Glowalla, U., Herder, M., Henrichs, N., Neubauer,
                                A., & Schaefer, J. R. (2018). Teaching medicine with the help of “Dr. House.”
                                PLoS ONE 13 (3) Article e0193972. <a
                                    href="https://doi.org/10.1371/journal.pone.0193972"
                                    target="_blank">https://doi.org/10.1371/journal.pone.0193972</a>
                            </li>
                            <li>
                                Stegmeir, M. (2016). Climate change: New discipline practices promote college
                                access. The Journal of College Admission, (231), 44-47.
                                <a href="https://www.nxtbook.com/ygsreprints/NACAC/nacac_jca_spring2016/#/46"
                                    target="_blank">https://www.nxtbook.com/ygsreprints/NACAC/nacac_jca_spring2016/#/46</a>
                            </li>
                        </ul>
                    </li>
                    <li>References of Journal article with missing issue number:O
                        <ul>
                            <li>Results: Present the findings in a logical manner, often using tables, figures,
                                and graphs.</li>
                            <li>Discussion: Interpret the results, relate them to existing literature, and
                                discuss their implications. Address limitations and suggest areas for future
                                research.</li>
                            <li>Conclusion: Summarize the key findings and their significance.</li>
                            <li>References: Cite all sources used in the manuscript following a specific
                                citation style</li>
                            <li>(e.g., APA, MLA, Chicago).</li>
                            <li>Formatting: Adhere to the journal's specific formatting guidelines for margins,
                                fonts, headings, and other layout elements.</li>
                            <li>Review and Revision: Proofread the manuscript for clarity, grammar, and
                                accuracy.</li>
                            <li>Revise based on feedback from colleagues or reviewers.</li>
                            <li>Submission: Follow the journal's submission guidelines to submit the manuscript,
                                often through an online platform.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="sub-heading">
                    <h3>Reference Styles</h3>
                </div>
                <p>The journal will use APA (American Psychological Association) Style 7th edition referencing.
                </p>
            </div>
            <div class="col-md-12 main-content">
                <!-- <h4 class="mt-0">Letters to the Editor:</h4> -->
                <ol>
                    <li>APA in-text citation style uses the author's last name and the year of publication, for
                        example: (Field, 2005). For direct quotations, include the page number as well, for
                        example: (Field, 2005, p. 14). For sources such as websites and e-books that have no
                        page numbers, use a paragraph number, for example: (Field, 2005, para. 1).</li>
                    <li>
                        References of Journal article:
                        <ul>
                            <li>Grady, J. S., Her, M., Moreno, G., Perez, C., & Yelinek, J. (2019). Emotions
                            </li>
                        </ul>
                    </li>
                    <li>
                        References of Journal article with an article number:
                        <ul>
                            <li>Jerrentrup, A., Mueller, T., Glowalla, U., Herder, M., Henrichs, N., Neubauer,
                                A., & Schaefer, J. R. (2018). Teaching medicine with the help of “Dr. House.”
                                PLoS ONE 13 (3) Article e0193972. <a
                                    href="https://doi.org/10.1371/journal.pone.0193972"
                                    target="_blank">https://doi.org/10.1371/journal.pone.0193972</a>
                            </li>
                            <li>
                                Stegmeir, M. (2016). Climate change: New discipline practices promote college
                                access. The Journal of College Admission, (231), 44-47.
                                <a href="https://www.nxtbook.com/ygsreprints/NACAC/nacac_jca_spring2016/#/46"
                                    target="_blank">https://www.nxtbook.com/ygsreprints/NACAC/nacac_jca_spring2016/#/46</a>
                            </li>
                        </ul>
                    </li>
                    <li>References of Journal article with missing issue number:O
                        <ul>
                            <li>Results: Present the findings in a logical manner, often using tables, figures,
                                and graphs.</li>
                            <li>Discussion: Interpret the results, relate them to existing literature, and
                                discuss their implications. Address limitations and suggest areas for future
                                research.</li>
                            <li>Conclusion: Summarize the key findings and their significance.</li>
                            <li>References: Cite all sources used in the manuscript following a specific
                                citation style</li>
                            <li>(e.g., APA, MLA, Chicago).</li>
                            <li>Formatting: Adhere to the journal's specific formatting guidelines for margins,
                                fonts, headings, and other layout elements.</li>
                            <li>Review and Revision: Proofread the manuscript for clarity, grammar, and
                                accuracy.</li>
                            <li>Revise based on feedback from colleagues or reviewers.</li>
                            <li>Submission: Follow the journal's submission guidelines to submit the manuscript,
                                often through an online platform.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>




<!-- <app-journalfooter></app-journalfooter> -->