
<footer>
    <!-- <div class="footer-address">
        <p>Centre for Distance and Online Education, Lovely Professional University,
            Jalandhar - Delhi G.T. Road, Phagwara, Punjab (India)-144411</p>
        <ul class="footer-email">
            <li><strong>Call us now:</strong> <span id="spnNumber">1800-3001-1800</span></li>
            <li><strong>E-mail:</strong> <a href="mailto:odl.admissions@lpu.co.in">odl.admissions@lpu.co.in</a></li>
            <li class="last"><strong>Website:</strong> www.lpude.in</li>
        </ul>
    </div> -->
    <div class="copy-right-section">
        Lovely Professional University. ALL RIGHTS RESERVED
    </div>
</footer>