.footer-address {
    background: #292929;
    padding: 20px 0;
    color: rgba(255, 255, 255, .7);
    text-align: center;
}



.copy-right-section {
    background: #161616;
    padding: 20px;
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    text-align: center;
    bottom: 0rem;
    width: 100%;
    // position: relative;
    margin-bottom: 0 !important;
}

.footer-email {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    list-style: none;
}

.footer-email li a {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
}

.footer-email li:not(last-child) {
    margin-right: 10px;
}

.footer-email li:after {
    content: "|";
    padding-left: 10px;
}

.footer-email li.last:after {
    content: "";
}

@media (max-width:992px) {

    .footer-email {

        flex-direction: column;
    }

    .footer-email li:after {
        content: "";
        padding-left: 0;
    }
}