<app-topslider></app-topslider>
<app-ReviewersHeader></app-ReviewersHeader>


<div class="vh-150 d-flex p-2 align-items-center justify-content-center">
  <div class="container-fluid ">
    <div class="row">

      <div class="col-md-12 grid-margin stretch-card">
        <!-- <div class="card accordionColor "> -->
        <div class="card-body m-5 ">
          <h1 class="text-center themeClr"> All Manuscript Details </h1>
        </div>
        <div class="container-fluid d-flex justify-content-center">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="form-label fs-3">Select Journal for Action </label>
            </div>
              <div class="col-md-4 mb-3">
                <select id="reviewerDropdown" class="form-select" [(ngModel)]="JournalTitle" name="journalId" required
                  (change)="setJournalId()">
                  <option value="" disabled>Select Journal</option>
                  <option *ngFor="let journalLists of journalListsData" [value]="journalLists.id">
                    {{ journalLists.journalTitle }}
                  </option>
                </select>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex p-2 align-items-center justify-content-center ">
  <div class="container-fluid table-bordered table-responsive ">
    <div class="row blockHeight">
      <div class="col-md-12 stretch-card">
        <div class="card accordionColor ">
          <div class="card-body accordionColor " *ngIf="this.ReviewerData?.length>0; else NoData">
            <div class="table-responsive">
              <table class="table  table-hover">
                <thead>
                  <tr>
                    <th *ngFor="let col of ReviewerdisplayedColumns">{{ ReviewercolumnHeaders[col] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of paginatedReviewerData; let i = index">
                   

                    <td *ngFor="let col of ReviewerdisplayedColumns">
                      <ng-container [ngSwitch]="col">
                        <button *ngSwitchCase="'fileUrl'" class="btn btn-dark btn-sm"
                          (click)="onSelectFileX(row[col])">
                          <!-- View File -->
                          <i class="bi bi-file-earmark-text "></i>
                        </button>

                        <button *ngSwitchCase="'journalId'" class="btn btn-danger btn-sm"
                          (click)="onTakeAction2(row[col])" data-bs-toggle="modal"
                          data-bs-target="#ReviewerModal">
                          <!-- Take Action -->
                          <i class="bi bi-exclamation-circle"></i>
                        </button>
                        <span *ngSwitchCase="'manuScriptType'">
                          {{row[col]?.length>0? row[col]: 'NA'}}
                        </span>

                        <span *ngSwitchDefault>{{ row[col] }}</span>
                      </ng-container>
                    </td>


                  </tr>
                </tbody>
              </table>

              <div class="pagination-controls">
                <button (click)="previousPageReviewer()" class="btn btn-dark btn-sm"
                  [disabled]="currentPageReviewer == 1">Previous</button>
                <span> Page {{ currentPageReviewer }} of {{ totalPagesReviewer }} </span>
                <button (click)="nextPageReviewer()" class="btn btn-dark btn-sm"
                  [disabled]="currentPageReviewer == totalPagesReviewer">Next</button>
              </div>
            </div>
          </div>
          <ng-template #NoData>
            <div class="themeClr">
              <h1 class="fs-2 text-center vh-50 p-3 m-4 "> No Data Found </h1>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Reviewers Modal -->
<div class="modal fade" id="ReviewerModal" tabindex="-1" aria-labelledby="ReviewerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="ReviewerModalLabel">Reviewer Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitReviewerForm()">
          <!-- Reviewer Recommendation Term Dropdown -->
          <div class="row">
            <div class="col-md-3 mb-3">
              <label class="form-label">Reviewer Recommendation Term:</label>
            </div>
            <div class="col-md-3 mb-3">
              <select class="form-select" [(ngModel)]="reviewForm.recommendation" name="recommendation" required>
                <option value="Minor Revisions">Minor Revisions</option>
                <option value="Major Revisions">Major Revisions</option>
              </select>
            </div>

            <div class="col-md-3 mb-3">
              <label class="form-label">Overall Reviewer Manuscript Rating:</label>
            </div>
            <div class="col-md-3 mb-3">
              <input type="number" class="form-control" [(ngModel)]="reviewForm.rating" name="rating" />
            </div>
          </div>
          <!--  Feedback form   -->
          <div class="row">
            <div class="col-md-3 mb-3">
              <label class="form-label">Transfer Authorization Response:</label>
            </div>
            <div class="col-md-3 mb-3">
              <select class="form-select" [(ngModel)]="reviewForm.transferAuthorization" name="transferAuthorization"
                required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>

            <div class="col-md-3 mb-3">
              <label class="form-label">Comments to Editor:</label>
            </div>
            <div class="col-md-3 mb-3">
              <textarea class="form-control" [(ngModel)]="reviewForm.commentsToEditor" name="commentsToEditor"
                rows="3"></textarea>
            </div>
          </div>

          <!-- Reviewer Questions -->
          <div class="row">
            <div class="col-md-4 mb-3" *ngFor="let question of reviewForm.questions; let i = index">
              <label class="form-label">{{ question.text }}</label>
              <div *ngFor="let option of question.options">
                <input type="radio" [name]="'question' + i" [value]="option" [(ngModel)]="question.answer" required />
                {{ option }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="form-label">Comments to Author:</label>
              <textarea class="form-control" [(ngModel)]="reviewForm.commentsToAuthor" name="commentsToAuthor"
                rows="4"></textarea>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label">Accept / Reject</label>
              <select class="form-select" [(ngModel)]="reviewForm.approvalAction" name="approvalAction" required="">
                <option value="Select" selected>-- Select --</option>
                <option value="Accept">Accept</option>
                <option value="Reject">Reject</option>
              </select>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]=" this.reviewForm.commentsToAuthor.length<5">Submit
              Review</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>