<section>
    <div class="container popular-genre-section">
        <div class="popular-genre">
            <div class="title">
                <h3>Popular by Genre</h3>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li>
                    <a class="active" id="journals-tab" data-bs-toggle="tab" data-bs-target="#journals" role="tab"
                        aria-controls="journals" aria-selected="true">Journals<span></span></a>
                </li>
                <!-- <li>
                    <a class="" id="books-tab" data-bs-toggle="tab" data-bs-target="#books" role="tab"
                        aria-controls="books" aria-selected="false">Books<span></span></a>

                </li> -->

            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="journals" role="tabpanel" aria-labelledby="journals-tab">
                <div class="row">
                    <div class="col-md-4" *ngFor="let dataRow of getRecordsForCurrentPage()">
                        <div class="popular-genre-content">
                            <div class="popular-genre-img">
                                <!-- <img src="assets/journal/journal-1.jpg" /> -->
                                <img [src]="dataRow.imagePath" />
                                <h4>{{ dataRow.bookName}}</h4>
                            </div>
                            <p class="popular-genre-desc">
                                {{ dataRow.bookName}} {{ dataRow.genres}}
                            </p>
                            <p class="popular-genre-author"> {{dataRow.editorName}} </p>
                        </div>
                    </div>
                    <mat-paginator [length]="booksDataWithEditorInfo?.length" [pageSize]="recordsPerPage"
                        [pageSizeOptions]="[6,12,24,36,48,60, 100]" (page)="onPageChange($event)">
                    </mat-paginator>

                </div>

            </div>
            <div class="tab-pane fade" id="books" role="tabpanel" aria-labelledby="books-tab">2</div>
        </div>
    </div>

</section>