<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>

<section>
    <div class="container" *ngIf="LoadingData==false ; else NoDataFound">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                        {{this.name}}
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Editorial Board</h3>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush editorial-accordian" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button accordionColor" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Editor in Chief
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body accordionColor ">
                        <div class="row" *ngIf="EditorInChief?.length>0 ; else noEditorChief">
                        <!-- <div class="row" *ngIf="EditorInChief != null; else noEditorChief"> -->
                            <div class="col-md-6" *ngFor="let CEditor of EditorInChief">
                                <div class="sect-president">
                                    <h3>{{ CEditor.editorName }} </h3>
                                    <h4>{{ CEditor.designation }}</h4>
                                    <p>
                                        <!-- {{ CEditor.department }} <br /> -->
                                        {{ CEditor.editorAddress}} <br />
                                    <p><strong>Email: &nbsp;&nbsp;&nbsp;&nbsp;</strong> <a>{{CEditor.email }}</a></p>
                                </div>
                            </div>
                        </div>
                        <ng-template #noEditorChief>
                            <p class="fs-4 text-danger text-center "> No Record Found! </p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button accordionColor  collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Managing Editor
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body accordionColor ">
                        <div class="row" *ngIf="ManagingEditor?.length>0  ;else noMeditor">
                        <!-- <div class="row" *ngIf="ManagingEditor != null ;else noMeditor"> -->
                            <div class="col-md-6" *ngFor="let MEditor of ManagingEditor">
                                <div class="sect-president">
                                    <h3>{{ MEditor.editorName }} </h3>
                                    <h4>{{ MEditor.designation }}</h4>
                                    <p>
                                        <!-- {{ MEditor.department }} <br /> -->
                                        {{ MEditor.editorAddress}} <br />
                                    <p><strong>Email: &nbsp;&nbsp;&nbsp;&nbsp;</strong> <a>{{MEditor.email }}</a></p>
                                </div>
                            </div>
                        </div>
                        <ng-template #noMeditor>
                            <p class="fs-2 text-danger text-center "> No Record Found! </p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button accordionColor  collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Associate Editors
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body accordionColor ">
                        <div class="row" *ngIf="AssociateEditor?.length>0 ;else noAssociateEditor">
                        <!-- <div class="row" *ngIf="AssociateEditor != null ;else noAssociateEditor"> -->
                            <div class="col-md-6" *ngFor="let AEditor of AssociateEditor">
                                <div class="sect-president">
                                    <h3>{{ AEditor.editorName }} </h3>
                                    <h4>{{ AEditor.designation }}</h4>
                                    <p>
                                        <!-- {{ AEditor.department }} <br /> -->
                                    <p [innerHTML]="AEditor.editorAddress"></p> <br />
                                    <p><strong>Email: &nbsp;&nbsp;&nbsp;&nbsp;</strong> <a>{{AEditor.email }}</a></p>
                                </div>
                            </div>
                        </div>
                        <ng-template #noAssociateEditor>
                            <p class="fs-4 text-danger text-center "> No Record Found! </p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button accordionColor  collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Editorial board members <span class="small-heading">National</span>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body accordionColor ">
                        <div class="row" *ngIf="EditorialboardmembersNational?.length>0 ;else noEditorialboardmembersNational">
                        <!-- <div class="row" *ngIf="EditorialboardmembersNational != null ;else noEditorialboardmembersNational"> -->
                            <div class="col-md-6" *ngFor="let national of EditorialboardmembersNational">
                                <div class="sect-president">
                                    <h3>{{ national.editorName }} </h3>
                                    <h4>{{ national.editorDesignation }}</h4>
                                    <p>
                                        <!-- {{ national.department }} <br /> </p> -->
                                    <p [innerHTML]="national.editorAddress"></p>

                                    <p><strong>Email: &nbsp;&nbsp;&nbsp;&nbsp;</strong> <a>{{national.email }}</a></p>
                                </div>
                            </div>
                        </div>
                        <ng-template #noEditorialboardmembersNational>
                            <p class="fs-4 text-danger text-center "> No Record Found! </p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button accordionColor  collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Editorial board members <span class="small-heading">International</span>
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body accordionColor ">
                        <div class="row" *ngIf="EditorialboardmembersInterNational?.length>0 ;else noEditorialboardmembersInterNational"> 
                        <!-- <div class="row" *ngIf="EditorialboardmembersInterNational!=null ;else noEditorialboardmembersInterNational"> -->
                            <div class="col-md-6" *ngFor="let International of EditorialboardmembersInterNational">
                                <div class="sect-president">
                                    <h3>{{ International.editorName }} </h3>
                                    <h4>{{ International.editorDesignation }}</h4>
                                    <p>
                                        <!-- {{ International.department }} <br /></p> -->
                                    <p [innerHTML]="International.editorAddress"></p>
                                    <p><strong>Email: &nbsp;&nbsp;&nbsp;&nbsp;</strong> <a>{{International.email }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <ng-template #noEditorialboardmembersInterNational>
                            <p class="fs-4 text-danger text-center "> No Record Found! </p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!-- <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        Reviewers
                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul class="review-list" *ngIf="EditorialboardmembersReviews?.length>0; else noReviewers">
                            <li *ngFor="let reviewer of EditorialboardmembersReviews">
                                <h4>{{ reviewer.editorName }} </h4>
                                <span>{{ reviewer.department}}</span> 
                                <p [innerHTML]="reviewer.editorAddress"></p>
                                <p><strong>Email: &nbsp;&nbsp;&nbsp;&nbsp;</strong> <a>{{reviewer.email }}</a></p>
                            </li>
                        </ul>
                    </div>
                    <ng-template #noReviewers>
                        <p class="fs-4 text-danger text-center "> No Record Found! </p>
                    </ng-template>
                </div>
            </div> -->
        </div>
    </div>
    <ng-template #NoDataFound>
        <div id="ServerError">
            <div class="col-sm-12 mt-5 mb-5"
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="d-flex justify-content-center align-item-center mt-5 ">
                    <span class="text-danger fs-3">Loading Data .. </span><br />
                    <div class="spinner-grow text-danger tex-center mb-5" style=" width: 14rem; height: 14rem;"
                        role="status">
                    </div>
                </div>
            </div>
        </div>
    </ng-template>




<!-- <app-journalfooter></app-journalfooter> -->