
<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                      {{this.name}}
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Open Access Policy</h3>
                </div>
                <p>Our journal is committed to providing unrestricted access to high-quality research and
                    promoting the principles of open science. Our open access policy is designed to ensure
                    that knowledge is freely accessible, allowing researchers, scholars, and the general
                    public to benefit from the latest advancements in their respective fields. The following
                    key components define our open access policy:</p>


            </div>
            <div class="col-md-12 main-content">

                <p><strong>Open Access Model:</strong> Our journal follows the gold open access model, where
                    all published articles are freely accessible to readers without any subscription or
                    payment barriers.</p>

                <p><strong>Copyright and Licensing:</strong> Authors retain the copyright to their work and
                    grant the journal a license to publish the article under a Creative Commons Attribution
                    License (CC BY). This allows others to distribute, remix, adapt, and build upon the
                    work, provided appropriate credit is given to the original author.</p>

                <p><strong>Article Processing Charges (APCs):</strong> There is no article processing charge
                    (APC) for the submission or Publication of paper in our journal. Our journal is
                    committed to providing free and unrestricted access to high-quality research without any
                    financial barriers. As part of our open access policy, we do not charge authors any
                    Article Processing Charges (APCs) for the publication of their manuscripts. Our goal is
                    to promote the widest dissemination of knowledge and to ensure that researchers and
                    readers from around the world can access and benefit from the research published in our
                    journal without any financial constraints. We believe that this approach enhances the
                    accessibility and impact of scholarly work and encourages collaboration and engagement
                    within the academic comunity.</p>


                <p><strong>Accessibility and Archiving:</strong> Our journal ensures the long-term
                    accessibility of published articles through archiving in reputable digital repositories.
                    We collaborate with established platforms to preserve and disseminate research for
                    future generations.</p>

                <p><strong>Immediate Publication:</strong> Accepted manuscripts are promptly published
                    online after undergoing peer review and editorial processes. This facilitates rapid
                    dissemination of research findings.</p>


                <p><strong>Open Data and Supplementary Materials:</strong> We encourage authors to provide
                    open access to their research data whenever possible. Supplementary materials associated
                    with the article are also freely accessible.</p>
                <p><strong>Transparency and Attribution:</strong> We emphasize the importance of transparent
                    reporting and attribution. Authors are encouraged to provide clear references,
                    citations, and acknowledgments to ensure proper credit is given. </p>


                <p><strong>Indexing and Discovery:</strong> Our open access articles are indexed and
                    discoverable through reputable databases, search engines, and scholarly platforms,
                    enhancing their visibility and impact.</p>
                <p><strong>>Engagement and Collaboration:</strong> Open access fosters global collaboration
                    and knowledge exchane. We encourage authors to engage with readers, share their work on
                    social media, and participate in discussions to amplify the impact of their research.
                </p>


                <p><strong>Ethics and Integrity:</strong> Open access content is subject to the same
                    rigorous peer review and ethical standards as subscription-based content. We uphold the
                    principles of research integrity, transparency, and responsible conduct of research.</p>
            </div>
        </div>

        <p>By adhering to this open access policy, our journal aims to contribute to the advancement of
            science, support the democratization of knowledge, and facilitate meaningful interactions among
            researchers, practitioners, policymakers, and the public.</p>
    </div>
</section>
<!-- <app-journalfooter></app-journalfooter> -->