<app-topslider></app-topslider>
<app-EditorHeader></app-EditorHeader>
<div class="vh-150 d-flex p-2 align-items-center justify-content-center">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card-body m-5 ">
          <h1 class="text-center themeClr"> Update Password Screen </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wizard-container vh-100 ">
  <div class="container-fluid  ">

    <div class="row ">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card-body">
          <div *ngIf="currentStep === 1" class="container">
            <h2 class="col-md-12 fs-2 "> Verify {{ idProofType }} Number</h2>
            <form [formGroup]="idProofFormGroup">
              <input type="password" id="idProofNumber" formControlName="idProofNumber" required />
              <div
                *ngIf="idProofFormGroup.get('idProofNumber')?.touched && idProofFormGroup.get('idProofNumber')?.invalid">
                <small>ID Proof Number is required.</small>
              </div>
              <div class="row d-flex justify-content-center mt-4 mb-2 ">
                <button class="col-2 me-4 " (click)="verifyIdProof()"
                  [disabled]="idProofFormGroup.invalid">Next</button>
              </div>
              <p *ngIf="errorMessage" class="error text-danger fs-5 p-4 fw-bolder">{{ errorMessage }}</p>
            </form>
          </div>

          <!-- Step 2: Reset Password -->
          <div *ngIf="currentStep === 2" class="container">
            <h2> Reset Your Password</h2>
            <form [formGroup]="resetPasswordFormGroup">
              <label for="password">New Password</label>
              <input type="password" id="password" formControlName="password" required />
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" id="confirmPassword" formControlName="confirmPassword" required />
              <div
                *ngIf="resetPasswordFormGroup.get('password')?.invalid && resetPasswordFormGroup.get('password')?.touched">
                <small>Password must be at least 8 characters long.</small>
              </div>
              <div
                *ngIf="resetPasswordFormGroup.get('confirmPassword')?.touched && resetPasswordFormGroup.get('confirmPassword')?.invalid">
                <small>Confirm Password is required.</small>
              </div>
              <div class="row d-flex justify-content-between mt-4 mb-2 ">
                <button class="col-2 me-4 " type="button" (click)="previousStep()">Back</button>
                <button class="col-4 LpuLogin" (click)="resetPassword()"
                  [disabled]="resetPasswordFormGroup.invalid">Reset
                  Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>