.loginButton{
    padding: 1px 5px;
    color: #003365;
    font-weight: normal;
    font-size: 100%;
    font-family: verdana, geneva, arial, helvetica, sans-serif;
    background-color: #cecece;
    background-image: linear-gradient(#e4e4e4 50%, #cecece 100%);
    border: 1px solid #cecece;
    border-radius: 0.35em;
    box-shadow: 1px 1px 2px #555555;
    cursor: pointer;
  }
  .loginButton:hover{
    // background-image: linear-gradient(#dedede 50%, #eeeaea 100%);
    border: 2px solid #777777;
    cursor: pointer;
  }

.auth-page {
    .auth-side-wrapper {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Prevent the image from repeating */
    }
  }
  

.heading
{
    height:2.5rem;
    width:76.875rem;
    background-color: brown;
    color:white;
    /* margin-left:3.125rem; */
    margin-top:0.625rem;
}
h4{
    margin-left:34.375rem;
    padding:0.625rem;
}
.box
{
    height:auto;
    width:76.875rem;
    /* margin-left:3.125rem; */
    border-style: outset;
    
}
.field
{
   
    margin-left: 15.5rem;
    margin-top: 5rem;/*1px;*/
    width:50rem;;
    height: 18rem;
    
}
.crdiatial
{
    /* margin-left: 5.5rem; */
    margin-top: 1.2rem;/*1px;*/
    width:50rem;;
    height: 18rem;
    padding: 3rem;
    margin-left: 8rem;
    
}
label{
    font-weight: bold;
    color:brown;
    padding:0.5rem;
    width: 12rem;
}
input{
    border-style: outset;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
    width: 15rem !important;
}
.details
{
    width:15rem;
    margin-left:12rem;
    display: inline-flex;
    height:3.5rem;
    padding-top: 0.5rem;
    
  
}
select{
    border-style: outset!important;
    height:2.3rem;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
    width: 15rem !important;
    
   
}
ul li{
    display: inline-flex;
    padding-left: 9rem;
    color:blue;
}

.btt
{
    width:21.875rem;
    // margin-top:5rem;
    margin-left: 37rem;
    margin-bottom: 7rem!important;
   
}

.announcement-bar {
    background: #FEE5C7;
    border-bottom: 2px solid #F58220;
    padding: 10px 0;
    text-align: center;
}

.announcement-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.announcement-bar ul li a {
    color: #000;
    font-weight: 700;
}

.sticky-bar {
    display: block;
    bottom: 15%;
    right: -138px;
    position: fixed;
    z-index: 1040;
    width: 184px;
}

.sticky-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sticky-bar ul li {
    /* background:  rgba(255, 255, 255, .7); */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    background: #b1040e;
    margin: 4px;
    transition: all .2s ease-in;
    padding: 0 10px;
    height: 45px;
    display: flex;
    align-items: center;
}

.sticky-bar ul li a {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    line-height: 14px;
}

.sticky-bar ul li img {
    width: auto;
    height: 22px;
    padding-right: 11px;
    /* -webkit-filter: invert(1);
        filter: invert(1); */
}

.sticky-bar ul li:hover {
    margin-left: -122px;
    /* background:  rgba(255, 255, 255, .7); */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    background: #b1040e;
}

.sticky-bar ul li.apply-now-outer {
    display: none;
}

@media(max-width:992px) {
    .sticky-bar ul li.apply-now-outer {
        display: block;
    }

    .sticky-bar {
        background: #b1040e;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: 9;
        width: 100%;
        display: block !important;
    }

    .sticky-bar ul {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .sticky-bar ul li a .st-label {
        display: none;
    }

    .sticky-bar ul li {
        background: transparent;
        box-shadow: none;
        transition: all .2s ease-in;
        padding: 10px 2px;
        height: 50px;
    }

    .sticky-bar ul li .apply-now {
        display: block;
        font-size: 16px;
        background: #fff;
        color: #b1040e;
        padding: 8px !important;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sticky-bar ul li:hover {
        margin-left: 0;
        box-shadow: none;
        background: transparent;
    }
}



.user
{
    margin-top:1rem;
}
.custom-dropdown {
    position: relative;
    width: auto;
  }
  
  .dropdown-box {
    border: 1px solid #ced4da;
    padding: 8px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .selected-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .selected-role {
    background:  #fd6c04!important;
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
    margin-right: 5px;
  }
  
  .remove-role {
    margin-left: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  .dropdown-options {
    // position: absolute;
    width: 15rem;
    border: 1px solid #ced4da;
    background: white;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .dropdown-options div {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-options div:hover {
    // background: #f8f9fa;
    background:  #fd6c04!important;
  }
  
  .disabled-option {
    background: #ddd;
    pointer-events: none;
  }
  
  .placeholder {
    color: #6c757d;
    font-style: italic;
  }
  