<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                      {{this.name}}
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Conflict of Interest Policy</h3>
                </div>
                <p>At Lovely Professional University, we are committed to upholding the highest standards of
                    ethical conduct and transparency in all aspects of scholarly publishing. Our conflict of
                    interest policy is designed to ensure the integrity and credibility of the research we
                    publish. This policy outlines the principles and guidelines that authors, reviewers,
                    editors, and other stakeholders must adhere to in order to avoid and manage potential
                    conflicts of interest.</p>


            </div>
            <div class="col-md-12 main-content">

                <p><strong>Definition of Conflict of Interest:</strong> A conflict of interest arises when
                    an
                    individual's professional, personal, or financial interests could compromise their
                    objectivity, judgment, or decision-making in relation to the journal's processes.</p>

                <p><strong>Authors:</strong> Authors are required to disclose any potential conflicts of
                    interest that could influence the interpretation or perception of their work. This
                    includes financial interests, affiliations, sponsorships, or personal relationships that
                    may have a direct r indirect impact on the research.</p>

                <p><strong>Reviewers:</strong> Reviewers are expected to declare any conflicts of interest
                    that could affect their impartial evaluation of manuscripts. If a reviewer has a
                    substantial conflict of interest, they will be recused from reviewing the manuscript in
                    question.</p>


                <p><strong>Editors and Editorial Board</strong>: Editors and members of the editorial board
                    are responsible for ensuring the fair and unbiased evaluation of submitted manuscripts.
                    They must disclose any conflicts of interest related to specific submissions and avoid
                    making editorial decisions in cases where their own interests could compromise the
                    integrity of the review process.</p>

                <p><strong>Disclosure and Transparency:</strong> All conflicts of interest must be disclosed
                    at the earliest possible stage in the submission, review, and editorial process.
                    Authors, reviewers, and editors should provide complete and accurate information to
                    enable the appropriate management of conflicts.
                </p>


                <p><strong>Management of Conflicts of Interest:</strong></p>
                <ol>
                    <li> Authors with conflicts of interest will be required to provide a clear and detailed
                        statementdescribing the nature of the conflict in their manuscript.</li>
                    <li>Reviewers and editors with conflicts of interest will be recused from the review
                        process or editorial decisions pertaining to the relevant manuscript.</li>
                    <li>Decisions regarding manuscripts involving conflicts of interest will be made by
                        impartial individuals who are not affected by the conflict.</li>
                </ol>

                <p><strong>Transparency and Reporting:</strong> Our Journal will provide a statement of
                    conflicts of interest in published articles. The journal may also periodically publish
                    aggregated data on the occurrence and management of conflicts of interest to enhance
                    transparency.</p>


                <p><strong>Training and Education:</strong> The editorial team, authors, and reviewers will
                    be encouraged to undergo training and education on conflict of interest awareness and
                    management.</p>
                <p><strong>Enforcement:</strong> Failure to adhere to this conflict of interest policy may
                    result in corrective actions, including but not limited to manuscript rejection,
                    suspension of editorial roles, and restriction of future submissions.</p>
                <p><strong>Continuous Review:</strong> This conflict of interest policy will be periodically
                    reviewed and
                    updated to ensure its effectiveness and alignment with best practices in scholarly
                    publishing.</p>
            </div>
        </div>

        <p>By adhering to this conflict of interest policy, [Your Journal Name] aims to maintain the highest
            ethical standards, protect the integrity of the research process, and ensure the trust of
            authors, reviewers, readers, and the broader academic community.</p>
    </div>
</section>

<!-- <app-journalfooter></app-journalfooter> -->