
<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                       {{this.name}}
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Plagiarism Policy</h3>
                </div>
                <p>Journal is committed to maintaining the highest standards of academic integrity and
                    expects all authors to uphold these standards. The journal has a zero-tolerance policy
                    towards plagiarism and takes all allegations of plagiarism seriously.</p>


            </div>
            <div class="col-md-12 main-content">

                <p><strong>Definition of Plagiarism:</strong> “Plagiarism is defined as the use of another
                    person’s ideas, words, or work without proper attribution or permission”. This includes,
                    but is not limited to, the following:</p>
                <ul class="pub-list">
                    <li>Using someone else’s work without citing the source</li>
                    <li>Paraphrasing someone else’s work without proper citation</li>
                    <li>Submitting a manuscript that has been previously published elsewhere</li>
                    <li>Submitting a manuscript that has substantial overlap with another published
                        work,without proper attribution</li>

                </ul>

                <p><strong>Submission Requirements:</strong> Authors are required to submit original work
                    that has not been published elsewhere. If the anuscript includes any previously
                    published material or has been presented at a conference, the author must disclose this
                    information at the time of submission.</p>

                <p><strong>Image and figures:</strong> Utilizing images, figures, and graphs in your work
                    without acquiring appropriate permission and citing the source is an act of plagiarism.
                    Therefore, authors are required to seek written permission from the owner of the content
                    before using any image, figure, or graph in their work. Failure to obtain permission and
                    provide proper citations can be considered plagiarism.</p>


                <p><strong>Detection Methods:</strong> All submissions to our journal are subject to a
                    plagiarism check using software tools and/or manual review by the editorial team. Any
                    instance of plagiarism will be reported to the author and may result in rejection of the
                    manuscript.</p>

                <p><strong>Consequences:</strong> If plagiarism is detected, the manuscript will be
                    rejected, and the author may be banned from submitting future work to the Journal. The
                    author’s institution may also be notified of the plagiarism finding. In cases where
                    plagiarism is suspected after publication, the article may be retracted, and the author
                    may be banned from submitting future work to the Journal.</p>


                <p><strong>Use plagiarism detection software:</strong> Authors are encouraged to use
                    plagiarism detection software to ensure that their work is original and properly cited.
                </p>
                <p><strong>Follow the journal’s submission guidelines:</strong> Authors should carefully
                    follow the submission guidelines provided by the journal. This includes ensuring that
                    the manuscript is properly formatted, contains all necessary sections, and includes
                    proper citations.</p>
                <p><strong>Be transparent:</strong> Authors should be transparent about potential conflicts
                    of interest, funding sources, and previous publications related to the work being
                    submitted.</p>


                <p><strong>Review Process:</strong> The review process for manuscripts submitted to Journal
                    includes a thorough plagiarism check. Any instance of plagiarism will be reported to the
                    author and may result in rejection of the manuscript. If plagiarism is detected after
                    publication, the article may be retracted, and the author may be banned from submitting
                    future work to the journal.</p>
                <p><strong>Conclusion:</strong> The journal takes plagiarism very seriously and expects all
                    authors to uphold the highest standards of academic integrity. By following the
                    guidelines outlined in this policy, authors can help ensure that their work is original
                    and properly cited.
                </p>



            </div>
        </div>

        <p>By adhering to this open access policy, our journal aims to contribute to the advancement of
            science, support the democratization of knowledge, and facilitate meaningful interactions among
            researchers, practitioners, policymakers, and the public.</p>
    </div>
</section>
<!-- <app-journalfooter></app-journalfooter> -->


