<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                       {{this.name}}
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>PublicationChargePolicy Policy</h3>
                </div>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore soluta nobis ab distinctio, aperiam non facilis at blanditiis ex ullam officiis alias quis id suscipit praesentium deserunt quasi quo quibusdam!</p>


            </div>
            <div class="col-md-12 main-content">

                <p><strong>Ipsum</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic animi ratione, porro consectetur id, tempora earum odit voluptatem, ea quasi accusamus dolore quisquam? Ipsum, porro id qui officia quam dolor.</p>
                <ul class="pub-list">
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere porro nulla eligendi. Soluta quod impedit veritatis a, qui voluptas incidunt adipisci fugit iusto officia. Maxime adipisci facere odio quos repellendus.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                </ul>



            </div>
        </div>

        <p>By adhering to this open access policy, our journal aims to contribute to the advancement of
            science, support the democratization of knowledge, and facilitate meaningful interactions among
            researchers, practitioners, policymakers, and the public.</p>
    </div>
</section>

<!-- <app-journalfooter></app-journalfooter> -->