

 <app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<app-journal-inner-menu></app-journal-inner-menu>
<div class="row mt-4">

  <div class="main-heading text-center">
    <h1>
      {{this.JournalTitle}}
    </h1>
  </div>
</div>
  <div *ngIf="isLoading" class="fullscreen-loader">
    <!-- <div class="custom-spinner-overlay"  >
      <div class="custom-spinner-content text-center">
        <img src="assets/images/spinner.gif" alt="Loading..." />
      </div>
    </div> -->
    <div class="loader-content">
      <span class="text-danger fs-2 mb-4">Processing...</span><br />
      <div class="spinner-grow text-dark" style="width: 16rem; height: 16rem;" role="status"></div>
    </div>
  </div>
<div *ngIf="!loadingIndicator; else ErrorConnection" class="row w-100 mx-0 auth-page wrapper mt-5">
  <div class="col-md-12 col-xl-12 mx-auto">    
    <div class="container-fluid" *ngIf="!isLoading">
      <div class="row">    
        <div class="col-md-6 pe-md-0 d-none d-lg-block" 
             [ngStyle]="{ 'background-image': 'url(https://www.lpu.in/journals/assets/images/login-left.png)', 'background-repeat': 'no-repeat', 'background-size': 'contain', 'background-position': 'center'}">
        </div>    
        <div class="col-md-12 col-lg-6">
          <div class="auth-form-wrapper px-4 py-5 p-5">
            <div class="text-center mb-5 main-heading">
              <h1 class="d-block mb-4"> LPU e-Journals <span>Login Page</span></h1>
            </div>
            <form class="forms-sample" [formGroup]="formdata" (ngSubmit)="OnSubmit()">
              <div class="row mb-2 mt-5">
                <div class="col-md-4">
                  <label for="exampleInputEmail1" class="col-md-6 form-label">Username</label>
                </div>
                <div class="col-md-8">
                  <input type="email" formControlName="Email" placeholder="Enter Email Id" class="form-control" id="exampleInputEmail1">
                  <div *ngIf="submitted && email?.errors" class="text-danger">
                    <small *ngIf="email?.errors?.['required']">Email is required.</small>
                    <small *ngIf="email?.errors?.['email']">Enter a valid email address.</small>
                  </div>
                </div>
              </div>

              <div class="row mb-2 mt-3">
                <div class="col-md-4">
                  <label for="exampleInputPassword1" class="col-md-6 form-label">Password</label>
                </div>
                <div class="col-md-8 position-relative">
                  <input [type]="showPassword ? 'text' : 'password'" class="form-control pr-5" placeholder="Enter password" formControlName="Password" id="exampleInputPassword1" />
                  <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash fs-4' : 'bi-eye fs-4'" (click)="togglePasswordVisibility()" style="position: absolute; top: 25%; right: 1.51rem; transform: translateY(-30%); cursor: pointer;"></i>
                  <div *ngIf="submitted && password?.errors" class="text-danger">
                    <small *ngIf="password?.errors?.['required']">Password is required.</small>
                    <small *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</small>
                  </div>
                </div>
              </div>

              <div class="row mb-2 mt-5">
                <div class="col-md-12 p-2 ms-4 text-center">
                  <span class="fs-5 text-danger">{{ this.errorMessage}} </span>
                </div>
              </div>
              <div class="row mb-2 mt-3 d-flex justify-content-center">
                <div class="col-md-4 mb-2">
                  <button type="submit" class="btn btn-danger" [disabled]="formdata.invalid">Login</button>
                </div>
                <div class="col-md-4 mb-2">
                  <button (click)="VisitUrl(BookId, name, 'signup')" class="btn btn-outline-danger">Register Now</button>
                </div>
                <div class="col-md-4 mb-2">
                  <button type="button" (click)="VisitUrl(BookId, name, 'ForgotPassword')" class="btn btn-outline-danger">Forgot Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #ErrorConnection>
  <div id="ServerError" class="row w-100 mx-0 auth-page wrapper">
    <div class="col-sm-12" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="d-flex justify-content-center align-item-center">
        <span class="text-danger fs-3">Loading </span><br />
        <div class="spinner-grow text-danger tex-center" style=" width: 14rem; height: 14rem;" role="status">
        </div>
      </div>
    </div>
  </div>
</ng-template> 
