<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                        {{this.name}}
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Corrections, Retraction, Withdrawal & Authorship Policy</h3>
                </div>



            </div>
            <div class="col-md-12 main-content">

                <p><strong>Corrections:</strong> we are committed to maintaining the accuracy and
                    integrity of the
                    scholarly record. Corrections to published articles will be considered when errors,
                    inaccuracies, or omissions are identified. The following principles guide our
                    corrections policy:
                </p>
                <ol>
                    <li>Corrections will be issued promptly upon the discovery of significant errors
                        that impact the article's content, conclusions, or interpretations.</li>
                    <li>Corrections will clearly identify the error, provide accurate information, and
                        link to the original article.</li>
                    <li>Corrections will undergo editorial review and approval before being published.
                    </li>
                </ol>

                <p><strong>>Retraction:</strong> Retraction is a serious step taken when an article is
                    found to be seriously flawed, misleading, or contains unethical content. Our
                    retraction policy ensures transparency and accountability in such cases:</p>
                <ol>
                    <li>Retractions are issued in cases of scientific misconduct, substantial errors,
                        unethical research practices, or misleading data.</li>
                    <li>A detailed retraction notice will be published that clearly states the reasons
                        for the retraction and provides an explanation to readers.</li>
                    <li>Authors will be given an opportunity to respond to allegations before a
                        retraction decision is made.</li>

                </ol>




                <p><strong>Withdrawal:</strong> Authors may request the withdrawal of a submitted
                    manuscript before publication or a published article under certain circumstances.
                    Our withdrawal policy aims to facilitate this process while ensuring transparency:
                </p>
                <ol>
                    <li>Manuscript withdrawal requests should be submitted in writing to the editorial
                        office.</li>
                    <li>Published article withdrawal requests will be evaluated on a case-by-case basis,
                        considering the potential impact on the scholarly record.</li>
                    <li>Withdrawn manuscripts or articles may still be accessible with a notice
                        indicating the withdrawal.</li>
                </ol>

                <p><strong>Authorship Policy:</strong> Authorship is a fundamental aspect of scholarly
                    publication, and we uphold principles that ensure proper credit and accountability.
                    Our authorship policy emphasizes the following:</p>
                <ol>
                    <li>All authors listed on a manuscript should have made significant contributions to
                        the research and the article's content.</li>
                    <li>Authorship order should reflect the extent of each author's contributions.</li>
                    <li>The corresponding author is responsible for obtaining consent from all
                        co-authors, verifying their contributions, and ensuring their agreement with the
                        final version of the manuscript.</li>
                    <li>Changes to authorship, including additions, deletions, or reordering, should be
                        communicated to the editorial office before publication.</li>
                </ol>

                <p><strong>Enforcement and Dispute Resolution:</strong> Non-compliance with our
                    Corrections, Retraction, Withdrawal, and Authorship Policy may lead to corrective
                    actions, including corrections, retractions, or notifications to relevant
                    institutions. In cases of disputes related to authorship, the editorial team will
                    work to facilitate resolution and ensure fairness.
                </p>
                <p><strong>Continuous Review:</strong> This policy will be periodically reviewed and
                    updated to ensure its effectiveness, alignment with best practices, and adherence to
                    ethical standards in scholarly publishing. </p>


            </div>
        </div>
        <p>By adhering to these principles, [Your Journal Name] aims to uphold the integrity of the
            scholarly literature, foster accountability, and ensure the ethical conduct of authors,
            reviewers, and editors.</p>

    </div>
</section>
<!-- <app-journalfooter></app-journalfooter> -->