<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                  {{this.name}}
                        <!-- International Journal of Recent Advances in Healthcare and Pharmaceutical Technology -->
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Complaint Policy</h3>
                </div>
                <p>This procedure applies to complaints about the policies, procedures, or actions of the
                    editorial staff. We welcome complaints as they provide an opportunity and a spur for
                    improvement, and we aim to respond quickly, courteously, and constructively. Please
                    write your complaint with a journal-title, vol. no., issue no., paper ID, paper title,
                    page no. Criteria of a Complaint Our definition of a complaint is as follows:</p>

                <ul class="pub-list">
                    <li>Using someone else’s work without citing the source</li>
                    <li>Paraphrasing someone else’s work without proper citation</li>
                    <li>Submitting a manuscript that has been previously published elsewhere</li>
                    <li>Submitting a manuscript that has substantial overlap with another published
                        work,without proper attribution</li>

                </ul>
            </div>
            <div class="col-md-12 main-content">
                <h4 class="mt-0">Journal are aware of the complaints stated below:</h4>

                <ul class="pub-list">
                    <li>Authorship complaints</li>
                    <li>Plagiarism complaints</li>
                    <li>Multiple, duplicate, concurrent publication/Simultaneous submission.</li>
                    <li>Undisclosed conflicts of interest</li>
                    <li>Reviewer bias or competitive harmful acts by reviewers.</li>

                </ul>

                <h4 class="mt-0">Policy for Handling Complaints:</h4>

                <ul class="pub-list">
                    <li>If the Journal receives a complaint that any contribution to the Journal break
                        intellectual property rights or contains material inaccuracies or </li>
                    <li>otherwise unlawful materials.</li>
                    <li>An investigation may include a request that the parties involved substantiate their
                        claims.</li>
                    <li>The Journal will make a good faith determination whether to remove the allegedly
                        wrongful material.</li>
                    <li>All the investigations and decisions are to be documented by the Journal.</li>
                    <li>We strive to ensure that journal is of the highest quality and is free from errors.
                    </li>
                </ul>


                <p>However, we accept that occasionally mistakes might happen.</p>

                <p><strong>Editorial Complaints Policy:</strong> The Managing Editor and staff of that
                    journal will make every effort to put matters right as soon as possible in the most
                    appropriate way, offering the right of reply where necessary. As far as possible, we
                    will investigate complaints in a blame-free manner, looking to see how systems can be
                    improved to prevent mistakes occurring.</p>


                <p><strong>How to Make a Complaint:</strong> Complaints about editorial content should be
                    made as soon as possible after publication, preferably in writing by email to
                    <a href="mailto:complaints@ospcindia.org">complaints&#64;ospcindia.org</a>
                </p>




            </div>
        </div>

        <p>By adhering to this conflict of interest policy, [Your Journal Name] aims to maintain the highest
            ethical standards, protect the integrity of the research process, and ensure the trust of
            authors, reviewers, readers, and the broader academic community.</p>
    </div>
</section>


<!-- <app-journalfooter></app-journalfooter> -->