/* Custom Menu css */
.mobile-nav-icon {
	display: inline-block;
}

.mobile-nav-icon .bar1,
.mobile-nav-icon .bar2,
.mobile-nav-icon .bar3 {
	width: 30px;
	height: 3px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}

.nationality .form-field-radio label {
	padding: 0 5px
}

.mobile-nav-icon.change .bar1,
.mobile-nav-icon.change .bar2,
.mobile-nav-icon.change .bar3 {
	width: 20px;
}

.mobile-nav-icon.change .bar1 {
	transform: translate(0, 8px) rotate(-45deg);
}

.mobile-nav-icon.change .bar2 {
	opacity: 0;
}

.mobile-nav-icon.change .bar3 {
	transform: translate(0, -10px) rotate(45deg);
}

.page-custom-nav.fixed-nav {
	position: fixed;
	width: 100%;
	z-index: 9;
	top: 120px;
}

.page-custom-nav .toggle,
.page-custom-nav [id^=drop] {
	display: none;
}

.page-custom-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.page-custom-nav nav {
	margin: 0;
	padding: 0;
}

.page-custom-nav nav:after {
	content: "";
	display: table;
	clear: both;
}

.page-custom-nav nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

.page-custom-nav nav ul li {
	margin: 0px;
	display: inline-block;
	float: left;
	position: relative;
}

.page-custom-nav nav a {
	display: block;
	text-decoration: none;
	margin: 8px 4px;
	padding: 3px 14px;
	font-size: 14px;
	border-radius: 14px;
	color: #000000;
	font-weight: 600;
}

.page-custom-nav nav li.nextdrop a {
	display: block;
	text-decoration: none;
	margin: 8px 4px;
	padding: 3px 14px;
	color: #000000;
	border-radius: 14px;
}

.page-custom-nav nav ul li.nextdrop ul li a {
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 14px;
	color: #fff;
	font-size: 14px;
	border-radius: 0;
}


.page-custom-nav nav ul li.nextdrop ul li:hover {
	background: rgba(0, 0, 0, .15);
}

.page-custom-nav nav a:hover {
	background-color: rgba(0, 0, 0, .15);
}

.page-custom-nav nav ul ul {
	display: none;
	position: absolute;
	z-index: 9;
	width: max-content;
	background-color: #E47200;
}

.page-custom-nav nav ul li:hover>ul {
	display: inherit;
}

.page-custom-nav nav ul ul li {

	float: none;
	display: list-item;
	position: relative;
}

.page-custom-nav nav ul ul ul li {
	position: relative;
	top: -60px;
	left: 170px;
}


.page-custom-nav li>a:after {
	position: absolute;
	margin-left: 7px;
}

.page-custom-nav li>a:only-child:after {
	content: '';
}



@media all and (max-width : 1180px) {
	.page-custom-nav nav a {
		padding: 3px 8px;
		font-size: 12px;
	}


}

@media all and (max-width : 992px) {

	.page-custom-nav nav li.nextdrop a.dropa {
		display: none !important;
	}

	.page-custom-nav nav {
		margin: 0;
	}

	.page-custom-nav {
		justify-content: flex-end;
	}

	.page-custom-nav .toggle+a,
	.page-custom-nav .menu {
		display: none;
	}

	.page-custom-nav .toggle {
		display: block;
		background-color: #2985c5;
		padding: 14px 20px;
		color: #FFF;
		text-decoration: none;
		border: none;
		margin: 0;
		font-weight: 500;
	}

	.page-custom-nav .menu .toggle:after {
		content: "\eb1f";
		font-family: 'font-icons';
		font-size: 10px;
		margin-left: 6px;
	}

	.page-custom-nav .menu .plusMinus.toggle:after {
		content: "\e71e";
		font-family: 'font-icons';
		font-size: 10px;
		margin-left: 6px;
	}

	.page-custom-nav .toggle[for=drop] {
		display: block;
		background-color: #2985c5;
		padding: 10px;
		color: #FFF;
		text-decoration: none;
		border: none;
		margin: 0;
		text-align: right;
	}


	.page-custom-nav [id^=drop]:checked+ul {
		display: block;
	}

	.page-custom-nav nav ul li {
		display: block;
		width: 100%;
	}

	.page-custom-nav nav ul ul .toggle,
	.page-custom-nav nav ul ul a {
		padding: 0 40px;
	}

	.page-custom-nav nav ul ul ul a {
		padding: 0 80px;
	}

	.page-custom-nav nav a:hover,
	.page-custom-nav nav ul ul ul a {
		background-color: #000000;
	}

	.page-custom-nav nav ul li ul li .toggle,
	.page-custom-nav nav ul ul a,
	.page-custom-nav nav ul ul ul a {
		padding: 14px 20px;
		color: #FFF;
	}


	.page-custom-nav nav ul li ul li .toggle,
	.page-custom-nav nav ul ul a {
		background-color: rgba(0, 0, 0, .2);
	}

	.page-custom-nav nav ul ul {
		float: none;
		position: static;
		color: #ffffff;
		width: 100%;
	}

	.page-custom-nav nav ul ul li:hover>ul,
	.page-custom-nav nav ul li:hover>ul {
		display: none;
	}

	.page-custom-nav nav ul ul li {
		display: block;
		width: 100%;
	}

	.page-custom-nav nav ul ul ul li {
		position: static;

	}

}

@media all and (max-width : 330px) {

	.page-custom-nav nav ul li {
		display: block;
		width: 94%;
	}

}

/* Custom Menu css */