<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                       {{this.name}}
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Copyright and Licencing Policy</h3>
                </div>



            </div>
            <div class="col-md-12 main-content">

                <p><strong>Copyright:</strong> Authors of articles published in the our Journal retain
                    the copyright of
                    their work. Authors also grant permission to third parties to use the article,
                    provided that its original form is maintained, and proper attribution to the
                    original authors, citation details, and the publisher are included.
                </p>

                <p><strong>Publishing Rights:</strong> Biosciences Biotechnology Research Asia Journal
                    permits authors to maintain their publishing rights without limitations. Authors
                    grant the journal a license to publish the article and identify itself as the
                    original publisher.</p>
                <p>The copyright form can be obtained from the Copyright Form link.</p>
                <p>Once completed and signed, the copyright form should be submitted online during the
                    manuscript submission process.</p>


                <p><strong>Licensing Policy:</strong> Our Journal, as an open-access journal, adheres to
                    the Creative
                    Commons Attribution 4.0 International License. This license allows you to:</p>
                <ol>
                    <li><strong>Share:</strong> Copy and distribute the material in any format or medium
                        (Chakraborty, et al., 2020).</li>
                    <li><strong>Adapt:</strong> Remix, modify, and build upon the material for any
                        purpose, including commercial use.</li>
                </ol>

                <p><strong>Under the following conditions: </strong></p>
                <ol>
                    <li> <strong>Attribution:</strong> Proper credit must be given, a link to the
                        license provided, and any modifications indicated. You may do this in a
                        reasonable manner, without implyingendorsement by the licensor.</li>
                    <li><strong>No additional restrictions:</strong> You may not impose legal terms or
                        technological measures that restrict others from exercising the rights granted
                        by the license.</li>
                </ol>

                <p><strong>Self-Archiving Policy:</strong> Authors have the freedom to archive their
                    articles in open-access repositories as "pre-prints".
                </p>



            </div>
        </div>


    </div>
</section>


<!-- <app-journalfooter></app-journalfooter> -->