<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<!-- <app-journal-inner-menu></app-journal-inner-menu> -->
<app-EDEditorHeader></app-EDEditorHeader>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="main-heading">
                    <h1>
                      {{this.name}}
                    </h1>
                </div>
                <div class="sub-heading">
                    <h3>Digital and Self-Archiving Policy</h3>
                </div>
                <p>We recognize the importance of open access to scholarly research and the
                    dissemination of knowledge. Our digital and self-archiving policy is designed to
                    facilitate the sharing of published content while maintaining the integrity of the
                    journal's publication process. This policy outlines the terms under which authors,
                    readers, and institutions can archive and share our published articles.</p>


            </div>
            <div class="col-md-12 main-content">

                <p><strong>Preprints and Postprints:</strong> Authors are encouraged to share preprints
                    of their
                    manuscripts on preprint servers before or during the peer review process. After
                    publication, authors are allowed to share the final accepted manuscript (postprint)
                    on personal websites, institutional repositories, and noncommercial subject
                    repositories.
                </p>

                <p><strong>Accepted Manuscripts:</strong> Authors are permitted to deposit the accepted
                    version of their manuscript in institutional or subject repositories immediately
                    upon acceptance. This version must include all changes made during peer review but
                    may not incorporate the final publisher's formatting and layout.</p>
                <p>The copyright form can be obtained from the Copyright Form link.</p>
                <p>Once completed and signed, the copyright form should be submitted online during the
                    manuscript submission process.</p>


                <p><strong>Embargoes and Access Control:</strong> While authors are encouraged to share
                    their manuscripts, the journal may impose an embargo period before the accepted
                    version can be made publicly available. During this embargo period, access may be
                    restricted to preserve the value of subscription-based content.</p>

                <p><strong>Attribution and Linking:</strong> When self-archiving, authors are required
                    to provide proper attribution to the published article and include a link to the
                    version of record on the journal's website. This ensures that readers can easily
                    access the final, formatted version</p>


                <p><strong>Commercial Use and Licensing:</strong> Authors retain copyright to their work
                    and grant the journal a license to publish. However, self-archiving does not affect
                    an author's right to use their work for non-commercial purposes or for educational
                    and scholarly activities.
                </p>
                <p><strong>Preservation and Archiving:</strong> Authors and institutions are encouraged
                    to preserve the published article in reliable digital archives or repositories. This
                    helps ensure long-term access to the research and supports the scholarly record.</p>
                <p><strong>Exceptions and Restrictions:</strong> In some cases, certain articles (e.g.,
                    those with third-party content or specific licensing agreements) may be subject to
                    restrictions on self-archiving. Authors are advised to consult with the journal's
                    editorial office regarding any potential limitations.</p>
                <p><strong>Digital Preservation Efforts:</strong> We are committed to preserving the
                    digital versions of its published content. We collaborate with recognized digital
                    preservaion initiatives to ensure the long-term availability and accessibility of
                    our articles.</p>
                <p><strong>Compliance with Policies:</strong> Authors, readers, and institutions are
                    responsible for complying with the terms and conditions outlined in this policy and
                    any relevant copyright and licensing agreements.</p>
                <p><strong>Continuous Review:</strong> This digital and self-archiving policy will be
                    periodically reviewed and updated to align with evolving best practices and
                    technological advancements in the field of scholarly publishing.</p>



            </div>
        </div>
        <p>By adhering to this policy, [Your Journal Name] aims to support the widespread dissemination
            of knowledge, promote open access, and contribute to the advancement of scholarly
            communication while respecting copyright and intellectual property rights.</p>

    </div>
</section>

<!-- <app-journalfooter></app-journalfooter> -->