<!-- <div class="box">
    <ngx-slick-carousel class="carousel" #slickModel="slick-carousel" [config]="slideConfig">
        <div class="book slide" ngxSlickItem *ngFor="let slide of slides">
            <div class="booka">
            <div class="cover" [style.background-color]="slide.imageUrl">
                <div class="containera">
                    <p> {{slide.bookTitle}} </p>
                    <div class="about">
                        <div class="pic ">
                            <img [src]="slide.imagePath" />
                        </div>
                        <div class="text">
                            <h4> {{slide.bookTitle}} {{slide.aboutAuthor}}</h4>
                            <button class="btn" (click)="navigateToUrl(slide.bookId)">See The Journal</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </ngx-slick-carousel>
  <div class="custom-prev-arrow" (click)="slickModel.slickPrev()"> </div>
    <div class="custom-next-arrow" (click)="slickModel.slickNext()"> </div> 
    <div class="custom-prev-arrow " (click)="slickModel.slickPrev()"><img src="assets/images/icon/left-arrow.svg"></div>
    <div class="custom-next-arrow" (click)="slickModel.slickNext()"><img src="assets/images/icon/right-arrow.svg"></div>
</div>


  <div class="prev">
                        <img (click)="slickModel.slickPrev()" src="assets/images/icon/left-arrow.svg">
                    </div> -->

  <!-- <div class="next">
                        <img (click)="slickModel.slickNext()" src="assets/images/icon/right-arrow.svg">
                    </div> -->  