.box {
    width: 100%;
    height: 28rem;
}

.book {
    display: inline-block;
}

.booka {
    width: 100%;
    // height: 25rem;
    vertical-align: top;
    display: inline-flex;
    margin-top: 0px;
    position: relative ;
    height: 20.5em;

}

.containera {
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    width: 90%;
    height: 100%;
    position: relative;
}

p {
    font-size: 1.3rem;
    color: white;
    padding: 0.8rem;

}



.pic img {
    height: 16rem;
    width: 13rem;
    border-style: outset;
    border: 1px;
    // positio
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
    display: inline-flex;
    gap: 3%;
    position: absolute;
}

h4 {
    margin-left: 1rem;
    color: white;
    font-size: 1rem !important;

}

button {
    margin-left: 0.5rem;
    width: 10rem !important;
    border-radius: 4rem;
    background-color: white;
    color: saddlebrown;
    border-style: outset;
    position: absolute;
    bottom: 4.5rem;
}

button:hover {
    margin-left: 0.5rem;
    width: 9rem;
    border-radius: 4rem;
    background-color: white;
    color: orange;
    border-style: outset;
}

.text {
    margin-right: 1rem !important;
}

a {
    text-decoration: none;
    background-color: white;
    color: saddlebrown;
}

a:hover {
    background-color: white;
    color: orange;
}
.slick-next.slick-arrow {
    z-index: 1 !important; 
    position: absolute !important; 
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 50px !important; 
    height: 50px !important;
    background-image: url('../../../../../assets/images/icon/right-arrow.svg') !important; 
    background-size: cover !important;
    right: 10px !important;
}

.slick-prev.slick-arrow{
    z-index: 1 !important;  
    position: absolute !important;  
    top: 50% !important;
    transform: translateY(-50%)!important;
    width: 50px !important;
    height: 50px !important;
    background-image: url('../../../../../assets/images/icon/left-arrow.svg')!important;
    background-size: cover !important;
    left: 10px !important;
}

// .custom-prev-arrow,
// .custom-next-arrow {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 50px;
//     height: 50px;
//     background-size: cover;
//     cursor: pointer;
//     z-index: 1; /* Ensure arrows are above the carousel */
// }

// .custom-prev-arrow {
//     left: 0;
//     background-image: url('../../../../../assets/images/icon/left-arrow.svg');
// }

// .custom-next-arrow {
//     right: 0;
//     background-image: url('../../../../../assets/images/icon/right-arrow.svg');
// }
@media all and (max-width: 1180px) {
    .booka  {
        width: 5rem;
        height: 15rem;
    }

    .pic image {
        height: 2rem;
        width: 1rem;
    }
}

@media (max-width: 992px) {
    .booka  {
        width: 3rem;
        height: 10rem;
    }

    .pic image {
        height: 1rem;
        width: 0.5rem;
    }

}



 
// .prev {
//     margin-top: 10rem;
//     margin-left: 0.8rem;
//     border-radius: 10rem;
//     background-color: brown;
//     width: 5rem;
//     height: 2rem;
//     padding: 0.3rem;
//     box-shadow: 0px 0px 4px 2px #00000040;
//     border-radius: 10rem;
//     background-color: whitesmoke;

// }

// .next {
//     margin-top: 10rem;
//     margin-right: 0.8rem;
//     width: 5rem;
//     height: 2rem;
//     padding: 0.3rem;
//     border-radius: 10rem;
//     background-color: whitesmoke;
//     box-shadow: 0px 0px 4px 2px #00000040;
// }


// .prev {
//     position: fixed;
//     top: 50%;
//     left: 0;
//     right: 0;
//     transform: translateY(-50%);
//     display: flex;
//     justify-content: space-between;
//     padding: 0 20px;
//     box-shadow: 0px 0px 4px 2px #00000040;
//     width: 60px;
//     height: 60px;
//     border-radius:100%;
//     background-color: whitesmoke;
//     align-items: center;
//     background-image: url('../../../../../assets/images/icon/right-arrow.svg');
//   }
  
//    .next{
//     position: fixed;
//     top: 50%;
//     left: 1;
//     right: 0;
//     transform: translateY(-50%);
//     display: flex;
//     justify-content: space-between;
//     padding: 0 20px;
//     box-shadow: 0px 0px 4px 2px #00000040;
//     width: 60px;
//     height: 60px;
//     border-radius:100%;
//     background-color: whitesmoke;
//    align-items: center; //assets/images/icon/left-arrow.svg
//    background-image: url('../../../../../assets/images/icon/left-arrow.svg');
//   } 

//   .containerb .about p {
//     font-size: 1.3rem;
//     color: white;
//     padding: 1rem !important;

// }
