.container {
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ef7d00 ;
    border-radius: 5px;
  }
  
  h3 {
    margin-bottom: 15px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  small {
    color: red;
  }
  
  .button {
    margin-right: 10px;
    padding: 10px 20px;
  }
  
  .signupLink{
    text-decoration: none;
    color: #0000ee;
    font-size: larger;
    font-weight: 500;
  }
  .signupLink:hover{
  text-decoration: underline;
  font-weight: 600 ;
  }
   

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-content {
    text-align: center;
  }
  