
<div class="Journalpage-custom-nav">
  <nav>
    <label for="drop" class="toggle">
      <div class="mobile-nav-icon nav-toggle" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </label>
    <input type="checkbox" id="drop" />
    <ul class="menu">
      <li class="nextdrop" *ngIf="JournalIssues.length > 0"> <a class="dropa" (click)="VisitUrl(BookId, name, 'GetIssues')"> Published Issues <span class="position-relative"> <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> {{ JournalIssues.length }} <span class="visually-hidden">unread issues</span> </span> </span> </a> </li>
      <li><a (click)="VisitUrl(BookId, name, 'About')">About</a></li>
      <li><a (click)="VisitUrl(BookId, name, 'EditorialBoard')">Editorial Board</a></li>

      <!-- Author Guidelines -->
      <li class="nextdrop">
        <label for="drop-1" class="toggle" onclick="myFunction(this)">Author Guidelines</label>
        <a class="dropa">
          Author Guidelines
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg>
        </a>
        <input type="checkbox" id="drop-1" />
        <ul>
          <li><a (click)="VisitUrl(BookId, name, 'AuthorGuidelines/ManuScriptPrepare')">Manuscript Preparation</a></li>
          <li><a (click)="VisitUrl(BookId, name, 'AuthorGuidelines/ManuScriptWorkFlow')">Manuscript Workflow</a></li>
        </ul>
      </li>

      <!-- Policies -->
      <li class="nextdrop">
        <label for="drop-2" class="toggle" onclick="myFunction(this)">Policies</label>
        <a class="dropa">
          Policies
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg>
        </a>
        <input type="checkbox" id="drop-2" />
        <ul>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/EditorialPolicy')">Editorial Policy</a></li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/PeerReviewPolicy')">Peer Review Policy</a></li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/OpenAccessPolicy')">Open Access Policy</a></li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/PlagiarismPolicy')">Plagiarism Policy</a></li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/ComplaintPolicy')">Complaint Policy</a></li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/CrossMarkPolicy')">Cross Mark Policy</a></li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/ConflictInterestPolicy')">Conflict Of Interest Policy</a>
          </li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/CopyrightPolicy')">Copyright And Licensing Policy</a></li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/CorrectionsRetractionPolicy')">Corrections Retraction
              Withdrawal Authorship Policy</a></li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/DigitalandSelfPolicy')">Digital And Self Archiving Policy</a>
          </li>
          <li><a (click)="VisitUrl(BookId, name, 'Policies/PublicationChargePolicy')">Publication Charge/Waiver
              Policy</a></li>
        </ul>
        </li>
        
        <li class="nextdrop" *ngIf="LoginStatus === true; else loginRequired">
          <label for="drop-2" class="toggle" onclick="myFunction(this)">
            {{ userRoleText }} Action
          </label>
          <a class="dropa">
            {{ userRoleText }} Action
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
          </a>
          <input type="checkbox" id="drop-2" />
  
          <ul>
            
            <ng-container *ngIf="userRoleText === 'Editor'">
              <li><a (click)="VisitUrl(BookId, name, 'UserED')">All Manuscripts</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'UserRRD')">All Reviewer's Remarks</a></li>
            </ng-container> 
           
             
  
            <!-- Reviewer Menu -->
             <ng-container *ngIf="userRoleText === 'Reviewer'">
              <li><a (click)="VisitUrl(BookId, name, 'ReviewerDashboard')">View My Manuscripts</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'ReviewersRemarks')">Review Manuscript</a></li>
            </ng-container>
  
            <!-- Publisher Menu -->
             <ng-container *ngIf="userRoleText === 'Publisher'">
              <li><a (click)="VisitUrl(BookId, name, 'PublisherPanel')">Publish Section</a></li>
            </ng-container>
  
            <!-- Super Admin Menu -->
            <ng-container *ngIf="userRoleText === 'Super Admin'">
              <li><a (click)="VisitUrl(BookId, name, 'UserED')">All Manuscripts</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'UserRRD')">All Reviewer's Remarks</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'ReviewerDashboard')">Manuscript</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'ReviewersRemarks')">Review Manuscript</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'PublisherPanel')">Publish Section</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'MyManuScript')">Requests</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'AuthorDashboard')">Upload New</a></li>
            </ng-container>
  
            <!-- User Menu -->
            <ng-container *ngIf="userRoleText === 'User'">
              <li><a (click)="VisitUrl(BookId, name, 'ViewManuscripts')">View My Manuscripts</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'AuthorDashboard')">Upload New Manuscript</a></li>
              <li><a (click)="VisitUrl(BookId, name, 'ReviewersRemarks')">Review Manuscript</a></li>
            </ng-container>
          </ul>
        </li>
        <li class="nextdrop"  *ngIf="userRoleText === 'Editor'">
          <label for="drop-1" class="toggle" onclick="myFunction(this)">Volumes</label>
          <a class="dropa">
            Volumes
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
          </a>
          <input type="checkbox" id="drop-1" />
          <ul>
                <li><a (click)="VisitUrl(BookId, name,'EDNewIssue')">Publish New Issue</a></li>
                <li><a (click)="VisitUrl(BookId, name,'EDAllssues')">View All Issues </a></li>
          </ul>
        </li>
        <!-- Logout shown separately -->
       
        <!-- <li *ngIf="selectedRole !== '-1' ; else loginRequired" ><a (click)="VisitUrl(BookId, name, 'RecoverPasswordReset')">Change Password </a></li>
           
        <li *ngIf="selectedRole !== '-1'; else loginRequired">
          <a (click)="Logout()">Logout</a>
        </li> -->
  
     
        
        <li class="nextdrop" *ngIf="LoginStatus === true;">
          <label for="drop-2" class="toggle" onclick="PlusMinusFunction(this)">Account Settings</label>
          <a class="dropa">Account Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg></a>
          <input type="checkbox" id="drop-2" />
          <ul>
            <li><a (click)="VisitUrl(BookId, name, 'RecoverPasswordReset')">Change Password </a></li>
            <li><a (click)="Logout()">Logout</a></li>
          </ul>
        </li>
        <!-- <li *ngIf="LoginStatus=== true;"><a (click)="Logout()">Logout</a></li> -->
        
        <ng-template #loginRequired>
          <li>
            <a (click)="VisitUrl(BookId, name, 'ExternalLogin')">Login </a>
          </li>
        </ng-template>
      
      <!-- Role-Based Dashboard Menu -->
      <!-- <li class="nextdrop" *ngIf="selectedRole !== '-1'; else loginRequired">  
          <label for="drop-2" class="toggle" onclick="myFunction(this)">
          {{ userRoleText }} Action
        </label>
        <a class="dropa">
          {{ userRoleText }} Action
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg>
        </a>
        <input type="checkbox" id="drop-2" />

        <ul>
          
          <ng-container *ngIf="userRoleText === 'Editor'">
            <li><a (click)="VisitUrl(BookId, name, 'UserED')">All Manuscripts</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'UserRRD')">All Reviewer's Remarks</a></li>
          </ng-container>-->
         
            <!-- <ul>
              
            </ul>
          </ng-container> -->

          <!-- Reviewer Menu -->
          <!-- <ng-container *ngIf="userRoleText === 'Reviewer'">
            <li><a (click)="VisitUrl(BookId, name, 'ReviewerDashboard')">View My Manuscripts</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'ReviewersRemarks')">Review Manuscript</a></li>
          </ng-container> -->

          <!-- Publisher Menu -->
          <!-- <ng-container *ngIf="userRoleText === 'Publisher'">
            <li><a (click)="VisitUrl(BookId, name, 'PublisherPanel')">Publish Section</a></li>
          </ng-container> -->

          <!-- Super Admin Menu -->
          <!-- <ng-container *ngIf="userRoleText === 'Super Admin'">
            <li><a (click)="VisitUrl(BookId, name, 'UserED')">All Manuscripts</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'UserRRD')">All Reviewer's Remarks</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'ReviewerDashboard')">Manuscript</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'ReviewersRemarks')">Review Manuscript</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'PublisherPanel')">Publish Section</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'MyManuScript')">Requests</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'AuthorDashboard')">Upload New</a></li>
          </ng-container> -->

          <!-- User Menu -->
          <!-- <ng-container *ngIf="userRoleText === 'User'">
            <li><a (click)="VisitUrl(BookId, name, 'ViewManuscripts')">View My Manuscripts</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'AuthorDashboard')">Upload New Manuscript</a></li>
            <li><a (click)="VisitUrl(BookId, name, 'ReviewersRemarks')">Review Manuscript</a></li>
          </ng-container>
        </ul>
      </li> -->
      <!-- <li class="nextdrop"  *ngIf="userRoleText === 'Editor'">
        <label for="drop-1" class="toggle" onclick="myFunction(this)">Volumes</label>
        <a class="dropa">
          Volumes
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg>
        </a>
        <input type="checkbox" id="drop-1" />
        <ul>
              <li><a (click)="VisitUrl(BookId, name,'EDNewIssue')">Add New Issue</a></li>
              <li><a (click)="VisitUrl(BookId, name,'EDAllssues')">View All Volumes </a></li>
        </ul>
      </li> -->
      <!-- Logout shown separately -->
     
      <!-- <li *ngIf="selectedRole !== '-1' ; else loginRequired" ><a (click)="VisitUrl(BookId, name, 'RecoverPasswordReset')">Change Password </a></li>
         
      <li *ngIf="selectedRole !== '-1'; else loginRequired">
        <a (click)="Logout()">Logout</a>
      </li> -->

      <!-- Login when no role -->
      <!-- <ng-template #loginRequired>
        <li>
          <a (click)="VisitUrl(BookId, name, 'RolewiseLogin')">Login</a>
        </li>
      </ng-template> -->

    </ul>
  </nav>
</div>


<div class="container-fluid  mt-4 " *ngIf="this.candidateName?.length>0 ; ">
  <div class="card">
    <div class="card-body">
      <div class="row d-flex justify-content-center">
        <div class="col-2">
          <label class=" form-label fw-bolder">User Name
          </label>
        </div>
        <div class="col-2">
          <label class=" form-label fw-bolder">{{this.candidateName}}
          </label>
        </div>
        <div class="col-4 text-center">
          <label class="text-success  fs-3 fw-bolder "> Lpu e-Journal Dashboard </label>
        </div>
        <div class="col-2 text-end">
          <label class=" form-label fw-bolder">Department Name</label>
        </div>
        <div class="col-2">
          <label class="form-label text-dark fw-bolder text-end"> {{this.departmentName}} </label>
        </div>
      </div>

    </div>
  </div>
</div>